[submodule "learning-notes"]
	path = learning-notes
	url = https://github.com/shawn-xc/learning-notes.git
[submodule "spike"]
	path = spike
	url = https://github.com/shawn-xc/spike.git
[submodule "ShawnLLVM"]
	path = ShawnLLVM
	url = git@github.com:shawn-xc/ShawnLLVM.git
